/* 
  ---------------------------------------- 
              GLOBAL SETTINGS
  ---------------------------------------- 
*/
.marginated{
    padding: 0px 100px 0px 100px;
  }
  
  
  
  /* 
    ---------------------------------------- 
                HEADER STYLES
    ---------------------------------------- 
  */
  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px 30px 0px;
  }
  
  .header-bar .logo {
    width: 5rem;
  
    /* In order to prevent image stretching while using flex container. */
    align-self: center;
  }
  
  .header-bar .signin-button {
    width: 6.5rem;
    height: 2.5rem;
    cursor: pointer;
  
    /* Overriding the default button CSS properties. */
    border: none;
    color: white;
    outline: none;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 0.2rem;
    background: #2A3FB4;
    transition: all 0.1s linear;
  }
  
  .header-bar .signin-button:hover {
    background: #1f3196;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  
  
  /* 
    ---------------------------------------- 
                HERO STYLES
    ---------------------------------------- 
  */
  .hero-container {
    margin: 30px 0px 30px 0px;
    width: 100%;
    height: 30rem;
    background-color: #575757;
    border-radius: 0.5rem;
  
    /*  Settings for the overlayed image. */
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-container h1 {
    left: 0rem;
    position: absolute;
    line-height: 4rem;
  
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    padding: 0px 40px 0px 40px;
  }
  
  .hero-container .backdrop {
    opacity: 0.25;
    height: auto;
    min-width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s, filter 0.1s ease-in;
  }
  
  .hero-container .backdrop:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }
  
  
  /* 
    ---------------------------------------- 
                BODY STYLES
    ---------------------------------------- 
  */
  .body {
    margin: 90px 0px 90px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .body .section {
    padding: 35px 0px 35px 0px;
    display: flex;
    max-width: 40rem;
    align-items: center;
    flex-direction: column;
  }
  
  .body .section .title {
    color: #2A3FB4;
    font-size: 1.5rem;
    padding-bottom: 0.6rem;
  }
  
  .body .section .details {
    font-size: 1.15rem;
    line-height: 1.7rem;
  }
  
  .body .section .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .body .section .social-links .link {
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  
  
  
  /* 
    ---------------------------------------- 
                FOOTER STYLES
    ---------------------------------------- 
  */
  .footer {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 211);
  }
  
  .footer .logos-bounder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }
  
  .footer .logos-bounder .favicon {
    height: 1.7rem;
    margin: 0px 6px 0px 6px;
  }
  
  .footer .logos-bounder .logo {
    height: 1.7rem;
    margin: 0px 6px 0px 6px;
  }
  
  .footer .credit {
    margin: 10px 0px 10px 0px;
    font-size: 1rem;
    color: #484848;
    font-weight: 400;
  }
  
  
  /* 
    ---------------------------------------- 
                MEDIA QUERIES
    ---------------------------------------- 
  */
  @media (max-width: 1500px) {
    .marginated {
      padding: 0px 130px 0px 130px;
    }
  
    .hero-container h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
  
  @media (max-width: 1200px) {
    .marginated {
      padding: 0px 100px 0px 100px;
    }
  
    .hero-container h1 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  
  @media (max-width: 800px) {
    .marginated {
      padding: 0px 80px 0px 80px;
    }
  }
  
  @media (max-width: 650px) {
    .marginated {
      padding: 0px 40px 0px 40px;
    }
  
    .hero-container h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    .body .section .details {
      font-size: 1.05rem;
    }
  }