/* 
---------------------------------------- 
            GLOBAL STYLES
---------------------------------------- 
*/
.globalpadding {
    padding: 0px 100px 0px 100px;
}


/* 
  ---------------------------------------- 
              MEDIA QUERIES
  ---------------------------------------- 
*/
@media (max-width: 1500px) {
    .globalpadding {
      padding: 0px 130px 0px 130px;
    }
  }
  
  @media (max-width: 1200px) {
    .globalpadding {
      padding: 0px 100px 0px 100px;
    }
  }
  
  @media (max-width: 800px) {
    .globalpadding {
      padding: 0px 80px 0px 80px;
    }
  }
  
  @media (max-width: 650px) {
    .globalpadding {
      padding: 0px 40px 0px 40px;
    }
  }