.App {
  padding: 0px 150px 0px 150px;
}

.header-bar {
  display: flex;
  padding: 50px 0px 50px 0px;
}

.banner {
  margin-top: 10px;
  width: 100%;
  height: 30rem;
  background-color: #160647;

  /*  Settings for the overlayed image. */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.banner p {
  font-size: 10rem;
}

.banner img {
  height: auto;
  min-width: 100%;
  opacity: 0.5;
}

.logo {
  width: 5rem;
}





/* 
  ---------------------------------------- 
              MEDIA QUERIES
  ---------------------------------------- 
*/
@media (max-width: 1500px) {
  .App {
    padding: 0px 130px 0px 130px;
  }
}

@media (max-width: 1200px) {
  .App {
    padding: 0px 100px 0px 100px;
  }
}

@media (max-width: 800px) {
  .App {
    padding: 0px 80px 0px 80px;
  }
}

@media (max-width: 650px) {
  .App {
    padding: 0px 40px 0px 40px;
  }
}