/* 
  Global setting for the component.
*/
.App {
  padding: 0px 150px 0px 150px;
}


/* 
  Styling for the header.
*/
.header-bar {
  display: flex;
  padding: 50px 0px 50px 0px;
}

.logo {
  width: 5rem;
}


/* 
  Styling for the hero.
*/
.hero-container h3 {
  left: 0rem;
  position: absolute;
  line-height: 4rem;

  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0px 40px 0px 40px;
}

.hero-container {
  margin-top: 10px;
  width: 100%;
  height: 30rem;
  background-color: #6c618b;

  /*  Settings for the overlayed image. */
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center; 
  flex-direction: column;
  justify-content: center;
}

.hero-container .backdrop {
  opacity: 0.2;
  height: auto;
  min-width: 100%;
}





/* 
  ---------------------------------------- 
              MEDIA QUERIES
  ---------------------------------------- 
*/
@media (max-width: 1500px) {
  .App {
    padding: 0px 130px 0px 130px;
  }

  .hero-container h3 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .App {
    padding: 0px 100px 0px 100px;
  }

  .hero-container h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 800px) {
  .App {
    padding: 0px 80px 0px 80px;
  }
}

@media (max-width: 650px) {
  .App {
    padding: 0px 40px 0px 40px;
  }

  .hero-container h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}