/* 
  Global setting for the component.
*/
.App {
  padding: 0px 150px 0px 150px;
}


/* 
  Styling for the header.
*/
.header-bar {
  display: flex;
  padding: 50px 0px 30px 0px;
}

.logo {
  width: 5rem;
}


/* 
  Styling for the hero.
*/
.hero-container {
  margin: 30px 0px 30px 0px;
  width: 100%;
  height: 30rem;
  background-color: #485abe;

  /*  Settings for the overlayed image. */
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center; 
  flex-direction: column;
  justify-content: center;
}

.hero-container h1 {
  left: 0rem;
  position: absolute;
  line-height: 4rem;

  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0px 40px 0px 40px;
}

.hero-container .backdrop {
  opacity: 0.25;
  height: auto;
  min-width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s, filter 0.1s ease-in;
}

.hero-container .backdrop:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}


/* Styling for different body sections. */
.body {
  margin: 90px 0px 90px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body .section {
  padding: 35px 0px 35px 0px;
  display: flex;
  max-width: 40rem;
  align-items: center;
  flex-direction: column;
}

.body .section .title {
  color: #485abe;
  font-size: 1.5rem;
  padding-bottom: 0.6rem;
}

.body .section .details {
  font-size: 1.15rem;
  line-height: 1.7rem;
}

.body .section .details li {
  padding-bottom: 1rem;
}




/* 
  ---------------------------------------- 
              MEDIA QUERIES
  ---------------------------------------- 
*/
@media (max-width: 1500px) {
  .App {
    padding: 0px 130px 0px 130px;
  }

  .hero-container h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .App {
    padding: 0px 100px 0px 100px;
  }

  .hero-container h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 800px) {
  .App {
    padding: 0px 80px 0px 80px;
  }
}

@media (max-width: 650px) {
  .App {
    padding: 0px 40px 0px 40px;
  }

  .hero-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .body .section .details {
    font-size: 1.05rem;
  }
}