/* 
---------------------------------------- 
        QUESTION CARD STYLES
---------------------------------------- 
*/
.QuestionCard {
        width: 100%;
        position: relative;
        background-color: white;
        padding: 1.2rem 1.4rem 1.2rem 1.4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
        font-size: 1.1rem;
}

.QuestionCard .green {
        position: absolute;
        top: 0;
        left: 0;        
        height: 100%;
        width: 0.4rem;
        background-color: rgb(106, 197, 106);
}

.QuestionCard .verticalFlex {
        display: flex;
        flex-direction: column;
}

.QuestionCard .verticalFlex .questionBox {
        max-height: 5rem;
        overflow: hidden;
        line-height: 1.3rem;
}

.QuestionCard .verticalFlex .dynamicContent {
        margin: 1rem 0rem 1rem 0rem;
}

.QuestionCard .verticalFlex .dynamicContent .answersection .title {
        color: green;
        font-weight: 400;
        margin-bottom: 0.3rem;
}

.QuestionCard .verticalFlex .dynamicContent .answersection .answer {
        font-size: 1rem;
}

.QuestionCard .verticalFlex .haveAnAnswer {
        color: rgb(83, 165, 83);
        cursor: pointer;
}

.QuestionCard .verticalFlex .textarea {
        width: 100%;
        resize: none;
        padding: 0.5rem;
        margin-bottom: 1rem;
        font-family: inherit; 
}

.QuestionCard .verticalFlex .postanswer, .QuestionCard .verticalFlex .cancelanswer {
        cursor: pointer;
        display: inline;
        margin-right: 1rem;
        color: rgb(122, 122, 122);
}

.QuestionCard .verticalFlex .postanswer:hover, .QuestionCard .verticalFlex .cancelanswer:hover {
        text-decoration: underline;
}

.QuestionCard .verticalFlex .questionActions .button {
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: 0.5rem;
        border-radius: 0.2rem;
        transition: all 0.1s ease-in;
        background-color: rgb(226, 226, 226);
        padding: 0.3rem 0.55rem 0.3rem 0.55rem;
}

.QuestionCard .verticalFlex .questionActions .button:hover {
        filter: brightness(95%);
}

.QuestionCard .verticalFlex .questionActions .delete {
        color: rgb(184, 32, 32);
}